<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a technology leader focused on delivering modern experiences with modern technology solutions. I believe in empowering the users of our technology and ensuring the capabilities truly serve the users. I believe in empowering our staff to take chances and deliver next generation work. I believe in empowering our business with flexibility and efficient capabilities to allow the to bring new products, services, and business to our markets quickly. I believe in supporting our owners and investors by being a steward of the resources I control, ensuring maximum return and maximum benefit.
		</div>
		<br>
	</div>
</div>
